// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

// Scss starts here!

a {
  cursor: pointer;
  color: $link-color;
  transition: opacity 0.24s ease 0s;
}

a:visited {
  color: $link-color;
}

a:hover {
  opacity: 0.70;
}

a:active {
  outline: 0;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.wrapper-content {
  padding: 0 15px;
}

.width-medium {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  margin: 1.2em 0 4em;
  @extend .clearfix;
  h1 {
    margin-bottom: 32px;
    > img {
      width: auto;
      height: 64px;
      max-width: 100%;
      vertical-align: top;
    }
  }
  nav {
    li {
      &:first-of-type {
        a {
          font-weight: bold;
          &:hover {
            opacity: 100;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.section {
  margin-bottom: 4em;
}

#site-canvas {
  margin: 0 auto 7em;
  max-width: 1000px;
  line-height: 1.6;
  font-size: 14px;
  font-family: $base-font-family;
}

legend {
  border-bottom: 1px solid darken($background-color, 20%);
  margin-bottom: 15px;
  font-weight: bold;
  padding-bottom: .2em;
  font-size: .9em;
  text-transform: uppercase;
}

.alt-date {
  select {
    float: left;
    width: 20%;
    margin-right: 5px;
  }
}

.project-display, .indicator-display {
  ul {
    label {
      font-weight: bold;
      margin-right: 10px;
    }
    label:after {
      content: ": "
    }

    li {
      margin-bottom: 2em;
    }
  }
}

.large {
  margin-bottom: 0;
  textarea {
    min-height: 400px;
  }
}

input {
  background: #fff;
  border: 1px solid $background-color;
  border-radius: $base-border-radius;
  padding: .5em;
  display: block;
  min-width: 18em;
  margin-bottom: 1em;
}

select {
  background: #fff;
  border: 1px solid $background-color;
  border-radius: $base-border-radius;
  height: 2.5em;
  min-width: 18em;
}

.form-group {
  margin-bottom: 4em;
  input, textarea {
    margin-bottom: 2em;
  }
}

.rjsf {
  >.form-group {
    margin-bottom: 0;
  }
}

label {
  margin-bottom: .3em;
  width: 100%;
}

.radio input {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 1em;
}

.multiform-group {
  clear: both;
  margin-bottom: 4em;
  .btn-group {
    margin-top: 1.85em;
    >.btn:lastchild {
      border-radius: $base-border-radius;
    }
  }
}

.multiform-group_item {
  margin-bottom: 1em;
  input {
    margin-bottom: 1em;
  }
}

.form-block {
  .form-group {
    margin-bottom: 1em;
    input, textarea, select {
      margin-bottom: 1em;
    }
    &:last-of-type {
      margin-bottom: 0em;
    }
  }
  .array-item {
    @extend .clearfix;
    padding-top: 2em;
    border-top: 1px solid $background-color;
    margin-top: 1em;
    &:first-of-type {
      border-top: 0;
      padding-top: 0;
      margin-top: 0;
    }
  }
  .form-date {
    margin-top: 1.2em;
    legend {
      display: none;
    }
  }
}

.section-half {
  width: 50%;
  float: left;
  input {
    margin-bottom: 0;
  }
  padding-right: 15px;
}

.section-half-left {
  padding-right: 0;
  padding-left: 15px;
  clear: right;
}

.field-half {
  .form-group {
    width: 50%;
    float: left;
    margin-bottom: 0;
    &:first-of-type {
      padding-right: 15px;
    }
    &:last-of-type {
      padding-left: 15px;
    }
  }
}

.form-extra-spacing {
  margin-bottom: 4em;
}

.form-less-spacing{
  input {
    margin-bottom: .5em;
  }
}

.with-ar {
  margin-bottom: .8em;
  .form-control {
    margin-bottom: 0;
  }
}

.columns-small {
  input, select {
    min-width: auto;
  }
  .field-object {
    legend {
      display: none;
    }
  }
}

.form-location {
  legend {
    display: none;
  }
}

.form-group {
  .form-float-right {
    float: right;
  }
  .padding-right {
    padding-left: 15px;
  }
}

.login {
  border: 1px solid darken($background-color, 5%);
  padding: 3em 5em 3.5em;
  margin: 5em auto 0 ;
  max-width: 40%;
  .btn {
    margin-top: .7em;
  }
}

.message-error {
  color: $danger-color;
  margin-bottom: 1em;
  display: block;
}

.field-description {
  font-size: .86em;
  color: darken($background-color, 30%);
  margin-top: -.6em;
  margin-bottom: .3em;
}

.select-sm {
  width: 100%;
}

.ar {
  direction: rtl
}

.field-example {
  background-color: lighten($background-color, 1%);
  padding: 1em 1.5em 1.5em;
  margin-top: 1em;
  @extend .clearfix;
  p {
    font-size: .8em;
  }
}

.header-small {
  font-family: $base-font-family;
  font-size: .9em;
  font-weight: $base-font-bold;
  margin-bottom: .5em;
}

.header-smallest {
  font-family: $base-font-family;
  font-size: .8em;
  font-weight: $base-font-bold;
  line-height: 1.3em;
}

.field-example-item {
  width: 33%;
  float: left;
  &:before {
    content: "";
    width: 15em;
    height: 10em;
    display: block;
    background-color: darken($background-color, 10%);
    margin-bottom: .5em;
  }
}
